<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>

    <body>

    <h1>Cat Lazer</h1>
    <div class="row">
        <div class="column">
            <h2>Current User</h2>
            <p>Koen Flores</p>
            <br></br>
            <h2>Queue</h2>
            <p>Jose Ferrer</p>
            <p>Fernanda Moreno</p>


        </div>
        <div class="column">
            <h2>Live Footage</h2>
        <iframe src="https://giphy.com/embed/rib1N2gcKgLL2" width="100%" height="282" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/cat-laser-chasing-rib1N2gcKgLL2"></a></p>
            <!-- <iframe width="450" height="315" src="https://www.youtube.com/embed/aLagODygcbs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
            <div class="buttons-div">
                <button class="button"><a href="up">Up</a></button>
                <div class="sidebyside">
                    <button class="button"><a href="left">Left</a></button>
                    <button class="button"><a href="right">Right</a></button>
                </div>
                <button class="button"><a href="down">Down</a></button>
            </div>  
        </div>

        <div class="column">
            <h2>Time Remaining</h2>
            <iframe src="http://free.timeanddate.com/countdown/i74zrogb/n2132/cf12/cm0/cu4/ct0/cs1/ca0/co1/cr0/ss0/cac000/cpc000/pct/tcfff/fs250/szw320/szh135/tac000/tpc000/iso2020-02-02T15:00:00" allowTransparency="true" frameborder="0" width="274" height="72"></iframe>

            
        </div>
    </div>

    </body>
</html>